@import "src/assets/styles/variables.scss";

.name {
  margin: 120px auto 0;
  position: relative;
  max-width: 1620px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;

  @media screen and (max-width: 1310px) {
    flex-direction: column;
    gap: 50px;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 16.5px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0 auto 135px;
  }

  .relized {
    font-size: 18px;
    color: $dark-gray-200;
  }

  .title {
    font-size: 110px;
    color: $white;
    font-family: Benzin;
    font-weight: 700;
    line-height: 110px;
    text-align: start;
    margin: 25px 0 45px 0;
    width: min-content !important;
    box-sizing: border-box;
    max-width: 1200px;
    text-transform: uppercase;

    @media screen and (max-width: 1310px) {
      font-size: 90px;
      line-height: normal;
    }

    @media screen and (max-width: 900px) {
      font-size: 70px;
    }

    @media screen and (max-width: 725px) {
      font-size: 50px;
    }

    @media screen and (max-width: 515px) {
      font-size: 40px;
    }

    @media screen and (max-width: 400px) {
      font-size: 35px;
    }
  }

  .subtitle {
    font-family: Dreams;
    color: $dark-gray-200;
    font-size: 23px;
    letter-spacing: 2px;
    max-width: 710px;

    @media screen and (max-width: 1310px) {
      display: block;
    }

    @media screen and (max-width: 525px) {
      font-size: 17px;
      width: 90%;
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;

    @media screen and (max-width: 1310px) {
      align-items: flex-start;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;

    @media screen and (max-width: 1310px) {
      align-items: flex-start;
    }
  }

  .paragraph {
    margin: 0 0 10px 0;

    font-size: 16px;
    color: $dark-gray-200;
  }

  .text {
    font-size: 17px;
    color: $white;
    max-width: 400px;
    text-align: end;

    @media screen and (max-width: 1310px) {
      max-width: 100%;
      text-align: start;
    }

    @media screen and (max-width: 525px) {
      font-size: 16px;
    }
  }
}
