// colors
$black: #131316;
$white: #EBF9FF;
$gray-100: #ebf9ffe6;
$gray-200: #ebf9ff8e;
$gray-300: #EBF9FF;
$dark-gray-100: #A8AFC3;
$dark-gray-200: #6B717E;
$dark-gray-300: #2A2F38;
$dark-gray-400: #3b424e;

// gradients
$white-gradient: linear-gradient(180deg, #EBF9FF 0%, #8E8E8E 100%);
$gray-gradient: linear-gradient(180deg, #656974 0%, #1A1B20 100%);
$black-gradient: linear-gradient(180deg, #121316 0%, #1A1B20 100%);